In [0]:
import pandas as pd

In [0]:
merged= pd.read_pickle('/content/drive/My Drive/merged.pkl')

In [0]:
merged.head()

              business_id  ...  category
0  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
1  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
2  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
3  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
4  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese

[5 rows x 21 columns]

In [0]:
merged.city.unique()

In [0]:
df=merged.groupby(['city']).size().reset_index(name='counts').sort_values(by=['counts'], ascending=False)
df

                           city  counts
155                   Las Vegas  834621
270                     Phoenix  291324
299                  Scottsdale  171048
52                    Charlotte  133212
273                  Pittsburgh  113953
..                          ...     ...
81                     Duquesne       3
231       Nellis Air Force Base       3
245  Northfield Center Township       3
276                   Plum Boro       3
336         Township of Concord       3

[375 rows x 2 columns]

In [0]:
df.loc[df.city.str.contains('Vegas')]

                city  counts
155        Las Vegas  834621
237  North Las Vegas   15232
310  South Las Vegas     620
154       Las  Vegas     343
229     N. Las Vegas     273
156         LasVegas     248

In [0]:
las_vegas_data=merged[merged['city']== 'Las Vegas'].reset_index(drop=True)

In [0]:
las_vegas_data=las_vegas_data[['business_id','review_id','stars', 'text']]

In [0]:
las_vegas_data.to_pickle('/content/drive/My Drive/las_vegas_data.pkl')