In [0]:
from google.colab import files
import pandas as pd
import numpy as np
import json
import time
from textblob import TextBlob
import re
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import nltk.stem as stem
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

In [0]:
start = time.time()
with open('/content/drive/My Drive/business.json') as json_file:
    data = json_file.readlines()
    data = list(map(json.loads, data)) 
business=pd.DataFrame(data)
print("Time to load data: {} seconds".format(time.time() - start))
business.head()

Time to load data: 13.453125238418579 seconds

              business_id  ...                                              hours
0  1SWheh84yJXfytovILXOAQ  ...                                               None
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
2  gnKjwL_1w79qoiV3IC_xQQ  ...  {'Monday': '17:30-21:30', 'Wednesday': '17:30-...
3  xvX2CttrVhyG2z1dFg_0xw  ...  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
4  HhyxOkGAM07SRYtlQ4wMFQ  ...  {'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...

[5 rows x 14 columns]

In [0]:
business.shape

(192609, 14)

In [0]:
start = time.time()
with open('/content/drive/My Drive/review.json') as json_file:
    data = json_file.readlines()
    data = list(map(json.loads, data)) 
reviews=pd.DataFrame(data)
print("Time to load data: {} seconds".format(time.time() - start))

Time to load data: 216.22022151947021 seconds

In [0]:
reviews.head(3)

                review_id  ...                 date
0  Q1sbwvVQXV2734tPgoKj4Q  ...  2013-05-07 04:34:36
1  GJXCdrto3ASJOqKeVWPi6Q  ...  2017-01-14 21:30:33
2  2TzJjDVDEuAW6MR5Vuc1ug  ...  2016-11-09 20:09:03

[3 rows x 9 columns]

In [0]:
def getRestaurantsUSA(business):
    states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
    df=business.loc[business['state'].isin(states)]
    return df
business=getRestaurantsUSA(business)
business.dropna(inplace=True)
business=business[business['categories'].str.contains('Restaurant[a-z]', case=False, regex=True)]
business.reset_index(drop=True)

                  business_id  ...                                              hours
0      gnKjwL_1w79qoiV3IC_xQQ  ...  {'Monday': '17:30-21:30', 'Wednesday': '17:30-...
1      1Dfx3zM-rW4n-31KeC8sJg  ...  {'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...
2      fweCYi8FmbJXHCqLnwuk8w  ...  {'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ...
3      tstimHoMcYbkSC4eBA1wEg  ...  {'Monday': '11:0-21:0', 'Tuesday': '10:0-21:0'...
4      BvYU3jvGd0TJ7IyZdfiN2Q  ...  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
...                       ...  ...                                                ...
27177  ngs16C2M_uTq2zXamltHVw  ...  {'Monday': '0:0-0:0', 'Tuesday': '11:30-20:30'...
27178  0fY-zYyP2fDmp2YXFsuNTg  ...  {'Tuesday': '7:0-14:0', 'Wednesday': '7:0-14:0...
27179  JsRt9LPgv-7guVcY4u6OQA  ...  {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...
27180  ghovD5ZTGDQ5Q2U4ERddWw  ...  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
27181  p1eUTUB_5hf1enoKYBV3DA  ...  {'Monday': '0:0-0:0', 'Tuesday': '17:0-22:0', ...

[27182 rows x 14 columns]

In [0]:
business['categories'].to_list()

In [0]:
reviews=reviews.drop(columns=['stars'])

In [0]:
merged= business.merge(reviews, how='inner', on='business_id' )

In [0]:
merged.shape

(3255923, 21)

In [0]:
merged.groupby(['business_id']).size().reset_index(name='counts')

                  business_id  counts
0      --9e1ONYQuAa-CB_Rrw7Tw    1661
1      --FBCX-N37CMYDfs790Bnw     142
2      --GM_ORV2cYS-h38DSaCLw      10
3      --I7YYLada0tSLkORTHb5Q     100
4      --KCl2FvVQpvjzmZSPyviA      15
...                       ...     ...
27177  zzmIMvqiBJ_-wVKg_OnGpw     121
27178  zzsOLFhgUw8gnjLTVVItFA     107
27179  zzwhN7x37nyjP0ZM8oiHmw      57
27180  zzwicjPC9g246MK2M1ZFBA      76
27181  zzzaIBwimxVej4tY6qFOUQ      37

[27182 rows x 2 columns]

In [0]:
merged['category']=pd.Series()
merged.loc[merged.categories.str.contains('American'),'category'] = 'American'
merged.loc[merged.categories.str.contains('Japanese'),'category'] = 'Japanese'
merged.loc[merged.categories.str.contains('Mexican'),'category'] = 'Mexican'
merged.loc[merged.categories.str.contains('Italian'),'category'] = 'Italian'
merged.loc[merged.categories.str.contains('Iranian'),'category'] = 'Iranian'
merged.loc[merged.categories.str.contains('Polish'),'category'] = 'Polish'
merged.loc[merged.categories.str.contains('Hawaiian'),'category'] = 'Hawaiian'
merged.loc[merged.categories.str.contains('Taiwanese'),'category'] = 'Taiwanese'
merged.loc[merged.categories.str.contains('Vietnamese'),'category'] = 'Vietnamese'
merged.loc[merged.categories.str.contains('Mediterranean'),'category'] = 'Mediterranean'
merged.loc[merged.categories.str.contains('Thai'),'category'] = 'Thai'
merged.loc[merged.categories.str.contains('French'),'category'] = 'French'
merged.loc[merged.categories.str.contains('Greek'),'category'] = 'Greek'
merged.loc[merged.categories.str.contains('Indian'),'category'] = 'Indian'
merged.loc[merged.categories.str.contains('Korean'),'category'] = 'Korean'
merged.loc[merged.categories.str.contains('African'),'category'] = 'African'
merged.loc[merged.categories.str.contains('Spanish'),'category'] = 'Spanish'

In [0]:
merged.head()

              business_id  ...  category
0  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
1  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
2  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
3  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
4  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese

[5 rows x 22 columns]

In [0]:
merged['category'].unique()

array(['Japanese', 'Mexican', 'Italian', 'Iranian', 'Polish', 'American',
       nan, 'Thai', 'Korean', 'French', 'Mediterranean', 'Hawaiian',
       'Taiwanese', 'Vietnamese', 'Indian', 'Greek', 'African', 'Spanish'],
      dtype=object)

In [0]:
merged.dropna(inplace=True)

In [0]:
merged.groupby(['category']).size().reset_index(name='counts')

         category  counts
0         African    8319
1        American  964354
2          French   63608
3           Greek   59530
4        Hawaiian   40583
5          Indian   46834
6         Iranian     780
7         Italian  296406
8        Japanese  180693
9          Korean   61233
10  Mediterranean   57134
11        Mexican  333821
12         Polish    3423
13        Spanish   20152
14      Taiwanese   12095
15           Thai   97527
16     Vietnamese   44405

In [0]:
merged.drop(columns=['categories'], inplace=True)

In [0]:
merged.to_pickle('/content/drive/My Drive/merged.pkl')