In [0]:
import pandas as pd
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]= GOOGLE_APPLICATION_CREDENTIALS='/content/drive/My Drive/yelp-language-detection-ab4d472516d3.json'
import warnings
warnings.filterwarnings(action = 'ignore')

In [0]:
merged= pd.read_pickle('/content/drive/My Drive/merged.pkl')

In [0]:
merged.head()

              business_id  ...  category
0  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
1  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
2  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
3  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
4  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese

[5 rows x 21 columns]

In [0]:
merged.city.unique()

In [0]:
df=merged.groupby(['city']).size().reset_index(name='counts').sort_values(by=['counts'], ascending=False)
df

In [0]:
df.loc[df.city.str.contains('Vegas')]

                city  counts
155        Las Vegas  834621
237  North Las Vegas   15232
310  South Las Vegas     620
154       Las  Vegas     343
229     N. Las Vegas     273
156         LasVegas     248

In [0]:
merged=merged[merged['is_open']==1]

In [0]:
merged.shape

(1986731, 21)

In [0]:
las_vegas_data=merged[merged['city']== 'Las Vegas'].reset_index(drop=True)

In [0]:
las_vegas_data.shape

(712594, 4)

In [0]:
las_vegas_data=las_vegas_data[['business_id','review_id','stars', 'text']]

In [0]:
las_vegas_data.to_pickle('/content/drive/My Drive/las_vegas_data.pkl')

In [0]:
# from google.cloud import translate

# translate_client = translate.Client()
# merged_x=merged.head(5)
# # merged_x['language'] =''
# # response= merged_x.text.apply(lambda text:translate_client.detect_language(text))

# merged_x['language']=merged_x['text'].apply(translate_client.detect_language)
# # if "'language': 'en'" in merged_x['language'].str:
# if merged_x['language'].str.find("'language': 'en'"):
#   merged_x['language']='English'
# else:
#   merged_x['language']='Non English'

In [0]:
from google.cloud import translate
translate_client = translate.Client()
merged_x=merged.head(5)
merged_x['language']=merged_x['text'].apply(translate_client.detect_language)

In [0]:
merged_x['language']

0    {'language': 'en', 'confidence': 1, 'input': '...
1    {'confidence': 1, 'language': 'en', 'input': '...
2    {'confidence': 1, 'language': 'en', 'input': '...
3    {'confidence': 1, 'language': 'en', 'input': '...
4    {'confidence': 1, 'language': 'en', 'input': '...
Name: language, dtype: object