In [0]:
import pandas as pd
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]= GOOGLE_APPLICATION_CREDENTIALS='/content/drive/My Drive/yelp-language-detection-ab4d472516d3.json'
import warnings
warnings.filterwarnings(action = 'ignore')

In [0]:
merged= pd.read_pickle('/content/drive/My Drive/merged.pkl')

In [0]:
merged.head()

              business_id  ...  category
0  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
1  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
2  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
3  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese
4  gnKjwL_1w79qoiV3IC_xQQ  ...  Japanese

[5 rows x 21 columns]

In [0]:
merged.city.unique()

array(['Charlotte', 'Phoenix', 'Mentor-on-the-Lake', 'Las Vegas',
       'Pittsburgh', 'West Mifflin', 'North Olmsted', 'Hudson',
       'Chandler', 'Concord', 'Henderson', 'Mentor', 'Cleveland', 'Mesa',
       'Brunswick', 'Madison', 'Glendale', 'Scottsdale', 'Indian Trail',
       'Cave Creek', 'Willoughby', 'Pineville', 'Burton', 'Cornelius',
       'Avondale', 'Solon', 'North Las Vegas', 'Surprise', 'Streetsboro',
       'Tempe', 'Boulder City', 'Paradise Valley', 'Parma Heights',
       'Westlake', 'Champaign', 'Gilbert', 'Middleton', 'Rock Hill',
       'Verona', 'Medina', 'McKees Rocks', 'Peoria', 'Cleveland Heights',
       'Monroe', 'Parma', 'Fairlawn', 'Avon Lake', 'Wexford',
       'Mount Lebanon', 'Glassport', 'New Kensington', 'Bridgeville',
       'Harrison City', 'Cuyahoga Falls', 'Tarentum',
       'Warrensville Heights', 'Monroeville', 'Sun Lakes', 'Davidson',
       'Matthews', 'Gastonia', 'Dallas', 'Huntersville', 'Stoughton',
       'University Heights', 'Stow', 'Library', 'Eastlake', 'Akron',
       'Urbana', 'Lakewood', 'Broadview Heights', 'Amherst', 'McKeesport',
       'Brecksville', 'North Ridgeville', 'Glenshaw', 'Saint Joseph',
       'Sun Prairie', 'Fort Mill', 'Waxhaw', 'Independence',
       'Middlefield', 'Stallings', 'Belmont', 'Goodyear', 'Monticello',
       'Fountain Hills', 'Macedonia', 'Harrisburg', 'Willoughby Hills',
       'Lyndhurst', 'Litchfield Park', 'Berea', 'Strongsville',
       'Twinsburg', 'Middleburg Heights', 'Robinson Township',
       'Allison Park', 'Tallmadge', 'Mayfield Heights', 'Elyria',
       'Canonsburg', 'Oakmont', 'White Oak', 'Grand River', 'Homestead',
       'Sheffield Village', 'Indian Land', 'Bedford', 'Pepper Pike',
       'Tolleson', 'South Park Township', 'Sharpsburg', 'Moon',
       'Fitchburg', 'Avon', 'Moon Township', 'Sun City', 'Bellevue',
       'Olmsted Township', 'Carnegie', 'Ambridge', 'Woodmere',
       'Chagrin Falls', 'Kannapolis', 'Kent', 'West Homestead',
       'Orange Village', 'Lowell', 'Chardon', 'Rocky River',
       'Queen Creek', 'Norton', 'Cuddy', 'Chesterland', 'North Randall',
       'North Royalton', 'Cramerton', 'Leetsdale', 'Peninsula',
       'Montrose', 'Hampton Township', 'Painesville', 'El Mirage',
       'Bratenahl', 'Gibsonia', 'Rantoul', 'Fairview Park', 'Denver',
       'Newbury', 'Beachwood', 'Northfield', 'Euclid', 'Sewickley',
       'New Eagle', 'Monongahela', 'Pleasant Hills', 'Elizabeth',
       'McMurray', 'North Versailles', 'Tega Cay', 'Waunakee',
       'Wadsworth', 'Upper St Clair', 'Coraopolis', 'Monona', 'Lorain',
       'Willowick', 'Garfield Heights', 'Anthem', 'Bay Village', 'Avalon',
       'Kirtland', 'Brook Park', 'Penn Hills', 'Belleville',
       'Concord Mills', 'Bethel Park', 'Brooklyn', 'Brookpark',
       'South Las Vegas', 'Murrysville', 'Carefree', 'Seven Hills',
       'Irwin', 'Laveen', 'McFarland', 'Lawrenceville', 'Export',
       'Sturgeon', 'De Forest', 'Highland Heights', 'Aurora',
       'Mount Holly', 'Crafton', 'North Huntingdon', 'N. Las Vegas',
       'Buckeye', 'Clover', 'Mantua', 'Gelndale', 'Mount Horeb',
       'Imperial', 'Guadalupe', 'Millvale', 'Copley', 'Marshall',
       'Weddington', 'Maple Heights', 'Savoy', 'East Cleveland',
       'Mcfarland', 'St Joseph', 'West View', 'Oakdale', 'Olmsted Falls',
       'McCandless', 'Shaker Heights', 'Valley View', 'Youngtown',
       'Wilmerding', 'South Euclid', 'Mint Hill', 'charlotte', 'Cecil',
       'Medina Township', 'Robinson Twp.', 'Deforest', 'Forest Hills',
       'DeForest', 'Rouses Point', 'Creighton', 'Munhall', 'Cross Plains',
       'Jefferson Hills', 'Sun City West', 'Stanley', 'Richmond Heights',
       'Mt. Lebanon', 'Sedona', 'Mckees Rocks', 'Richfield',
       'Shaler Township', 'Mayfield Village', 'Locust', 'Spring Valley',
       'Turtle Creek', 'Wickliffe', 'Braddock', 'Valley City', 'Emsworth',
       'Mayfield', 'Lake Wylie', 'Dane', 'Blakeney', 'Lower Burrell',
       'Mahomet', 'Clairton', 'Mint  Hill', 'South Park', 'Trafford',
       'Etna', 'Higley', 'Mentor On The Lake', 'Windsor', 'Erie',
       'Oregon', 'Gates Mills', 'Enterprise', 'Moreland Hills', 'Tolono',
       'Grafton', 'Township of Concord', 'Paoli', 'Scottdale',
       'McCandless Township', 'Lake Park', 'Mcmurray', 'solon',
       'Wesley Chapel', 'Cottage Grove', 'NELLIS AFB', 'Ravenna',
       'Mooresville', 'Neville Island', 'Walton Hills', 'Lawrence',
       'Mckeesport', 'LasVegas', 'North Olmstead',
       'Nellis Air Force Base', 'Ross Township', 'East McKeesport',
       'LaGrange', 'Bainbridge', 'Bedford Heights', 'Apache Junction',
       'Ahwatukee', 'Aspinwall', 'Pahrump', 'Las  Vegas', 'Ogden',
       'McDonald', 'Fairport Harbor', 'Duquesne', 'Indianola',
       'Indian land', 'Sagamore Hills', 'Phx', 'Black Earth', 'Brentwood',
       'East Mc Keesport', 'Auburn Township', 'Summerlin', 'Auburn Twp',
       'East Liberty', 'Pheonix', 'Plum', 'Rural Ridge', 'Plum Boro',
       'Edgewood', 'Mc Kees Rocks', 'Midland', 'Homer',
       'Northfield Center Township', 'Shorewood Hills',
       'Columbia Station', 'Elizabeth Township', 'Painesville Township',
       'Harmarville', 'GILBERT', 'Finleyville', 'Heidelberg', 'Crescent',
       'Mt. Holly', 'Wilkins Township', 'Lindale', 'Mansfield',
       'Hendersonville', 'West Elizabeth', 'Gifford', 'Brookline',
       'Springdale', 'Mc Farland', 'Orange', 'York', 'Regent Square',
       'Blawnox', 'Hyland Heights', 'McAdenville', 'Fort McDowell',
       'Pheonix AZ', 'N Ridgeville', 'Munroe Falls', 'Rillton',
       'Concord Twp', 'Tremont', 'Upper Saint Clair', 'Laveen Village',
       'Richmond Hts', 'Rio Verde', 'Kennedy Township', 'Lower burrell',
       'Toronto', 'Harrisbug', 'Robinson', 'Peters Township', 'Tuscola',
       'Ft. Mill', 'Mooers', 'Cuyahoga Heights', 'Oakland', 'Sauk City',
       'Bath'], dtype=object)

In [0]:
df=merged.groupby(['city']).size().reset_index(name='counts').sort_values(by=['counts'], ascending=False)
df

                           city  counts
155                   Las Vegas  834621
270                     Phoenix  291324
299                  Scottsdale  171048
52                    Charlotte  133212
273                  Pittsburgh  113953
..                          ...     ...
81                     Duquesne       3
231       Nellis Air Force Base       3
245  Northfield Center Township       3
276                   Plum Boro       3
336         Township of Concord       3

[375 rows x 2 columns]

In [0]:
df.loc[df.city.str.contains('Vegas')]

                city  counts
155        Las Vegas  834621
237  North Las Vegas   15232
310  South Las Vegas     620
154       Las  Vegas     343
229     N. Las Vegas     273
156         LasVegas     248

In [0]:
merged=merged[merged['is_open']==1]

In [0]:
merged.shape

(1986731, 21)

In [0]:
las_vegas_data=merged[merged['city']== 'Las Vegas'].reset_index(drop=True)

In [0]:
las_vegas_data.shape

(712594, 21)

In [0]:
las_vegas_data=las_vegas_data[['business_id','review_id','stars','latitude','longitude', 'text','postal_code','category']]

In [0]:
las_vegas_data.to_pickle('/content/drive/My Drive/las_vegas_data.pkl')

In [0]:
# from google.cloud import translate

# translate_client = translate.Client()
# merged_x=merged.head(5)
# # merged_x['language'] =''
# # response= merged_x.text.apply(lambda text:translate_client.detect_language(text))

# merged_x['language']=merged_x['text'].apply(translate_client.detect_language)
# # if "'language': 'en'" in merged_x['language'].str:
# if merged_x['language'].str.find("'language': 'en'"):
#   merged_x['language']='English'
# else:
#   merged_x['language']='Non English'

In [0]:
from google.cloud import translate
translate_client = translate.Client()
merged_x=merged.head(5)
merged_x['language']=merged_x['text'].apply(translate_client.detect_language)

In [0]:
merged_x['language']

0    {'language': 'en', 'confidence': 1, 'input': '...
1    {'confidence': 1, 'language': 'en', 'input': '...
2    {'confidence': 1, 'language': 'en', 'input': '...
3    {'confidence': 1, 'language': 'en', 'input': '...
4    {'confidence': 1, 'language': 'en', 'input': '...
Name: language, dtype: object